<section class="section mbmd mtmd pos-rel b_all ptlg pblg prlg pllg common-shadow">
		<div style="display: flex; justify-content: space-between;">
			<h2 class="title">طلب البدأ في إنشاء ميثاق مشروع</h2>
			<button class="btn btn-link pull-left close_section"><i class="fas fa-times"></i></button>
		</div>

		<form action="" class="mtmd">
			<div class="row mtsm">
				<div class="col-sm-2">
					<label class="col-form-label">اسم الميثاق : <span class="required">*</span></label>
				</div>
				<div class="col-md-7 col-sm-10">
					<input type="text" class="form-control" placeholder="اسم الميثاق">
				</div>
			</div>

			<div class="row mtsm">
				<div class="col-sm-2">
					<label class="col-form-label">دراسة الجدوي : <span class="required">*</span></label>
				</div>
				<div class="col-md-7 col-sm-10">
					<div class="select-wrapper">
						<select name="" class="form-control">
							<option >اختار</option>
							<option value="1">1</option>
							<option value="2">2</option>
						</select>
					</div>
				</div>
			</div>

			<div class="row mtsm">
				<div class="col-sm-2">
					<label class="col-form-label">مححفظة المشاريع : <span class="required">*</span></label>
				</div>
				<div class="col-md-7 col-sm-10">
					<div class="select-wrapper">
						<select name="" class="form-control">
							<option >اختار</option>
							<option value="1">1</option>
							<option value="2">2</option>
						</select>
					</div>
				</div>
			</div>

			<div class="row mtsm">
				<div class="col-sm-2">
					<label class="col-form-label">ملحظات : </label>
				</div>
				<div class="col-md-7 col-sm-10">
					<textarea name="" class="form-control" rows="3"></textarea>
				</div>
			</div>

			<div class="row mtmd">
		  		<label class="col-sm-2 col-form-label">&nbsp;</label>
		  		<div class="col-md-7 col-sm-10">
			  		<button type="submit" class="btn btn-wide btn-primary">حفظ</button>
		  		</div>
		  	</div>
		</form>
	</section>