<section class="section mbmd mtmd pos-rel b_all ptlg pblg prlg pllg common-shadow">
	<button class="btn btn-link pull-left close_section"><i class="fas fa-times"></i></button>

	<div class="accordion">
		<div class="card">
			<div class="card-header" id="head30">
				<h2>
					<button type="button" class="" data-toggle="collapse" data-target="#col30" aria-expanded="true" aria-controls="col30"></button>
					<span style="color:#004C45;">إجراء يتطلب تفاعلك (دراسة مدّة التنفيذ)</span>
				</h2>
			</div>

			<div id="col30" class="collapse show" aria-labelledby="head30">
				<div class="card-body">

					<div class="rows-even-odd">

						<div class="row mtmd">
							<div class="col-md-12 col-sm-12">
								<span>دراسة مدّة التنفيذ بالمدة الزمنية المحدّدة في أداة الإسناد وفقا لنوع التكليف سواء كان داخلي أم خارجي</span>
							</div>
						</div>

					</div>
					

					<div class="row mtmd">
						<div class="col-md-8 col-sm-12">
							<button type="button" class="btn btn-primary btn-wide">القبول وبدأ التنفيذ</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	
</section>