<section class="section mbmd mtmd pos-rel b_all ptlg pblg prlg pllg common-shadow">
	<div style="display: flex; justify-content: space-between;">
		<h2 class="title">&nbsp;</h2>
		<button class="btn btn-link pull-left close_section"><i class="fas fa-times"></i></button>
	</div>
	<div class="accordion">
		<div class="card">
			<div class="card-header" id="headTwelve">
				<h2>
					<button type="button" data-toggle="collapse" data-target="#colTwelve" aria-expanded="true" aria-controls="colTwelve"></button>
					<span style="color:#004C45;">إجراء يتطلب تفاعلك (مراجعة دراسة جدوي - مالك العمل)</span>
				</h2>
			</div>

			<div id="colTwelve" class="collapse show" aria-labelledby="headTwelve">
				<div class="card-body">

					<div class="row mtmd mbmd">
						<div class="col-md-5 col-sm-12">
							<div class="row">
								<div class="col-md-4 col-sm-12"><span class="text-primary">رقم التكليف:</span></div>
								<div class="col-md-8 col-sm-12">
									Man001973
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-0">&nbsp;</div>
						<div class="col-md-5 col-sm-12">
							<div class="row">
								<div class="col-md-4 col-sm-12"><span class="text-primary">اسم التكليف:</span></div>
								<div class="col-md-8 col-sm-12">
									مراسلة 13 وزارة الاقتصاد والتخطيط
								</div>
							</div>
						</div>
					</div>

					<div>
						<div class="title-wrapper prsm plsm">
							<h2 class="sec-title"><small><i class="fas fa-circle"></i></small>&nbsp; بيانات دراسة جدوي</h2>
						</div>

						<div class="rows-even-odd mtmd">
							<div class="row">
								<div class="col-sm-12"><span class="text-primary">عنوان دراسة جدوي :</span></div>
								<div class="col-sm-12 mtsm"><h6>تعديل الفقرة (ب) من المادة الثانية من لائحة الترقيات... ـ</h6></div>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-5"><span class="text-primary">:النسخة</span></div>
										<div class="col-sm-7"><span>T1000205</span></div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-5"><span class="text-primary">التاريخ :</span></div>
										<div class="col-sm-7"><span>1441/10/1</span></div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-5"><span class="text-primary">حالة التكرار :</span></div>
										<div class="col-sm-7"><span>جديد</span></div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-5"><span class="text-primary">التكلفة المتوقعة :</span></div>
										<div class="col-sm-7"><span>١٠٠٠ ريال</span></div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-5"><span class="text-primary">الاهمية :</span></div>
										<div class="col-sm-7"><span>تكليف</span></div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-5"><span class="text-primary">تاريخ البدء المتوقع :</span></div>
										<div class="col-sm-7"><span>13/02/2020</span></div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-5"><span class="text-primary">تاريخ الانتهاء المتوقع :</span></div>
										<div class="col-sm-7"><span>13/02/2020</span></div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-5"><span class="text-primary">يوجد اعتمادات؟ :</span></div>
										<div class="col-sm-7"><span>نعم</span></div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-2"><span class="text-primary">التعليقات :</span></div>
								<div class="col-sm-10">
									<textarea name="" class="form-control" rows="3"></textarea>
								</div>
							</div>
						</div>
					</div>
									
					<div class="mtmd ptmd bt">
						<div class="title-wrapper prsm plsm">
							<h2 class="sec-title"><small><i class="fas fa-circle"></i></small>&nbsp; بيانات عامة</h2>
						</div>
						
						<div class="rows-even-odd mtmd">
							<div class="row">
								<div class="col-sm-2"><span class="text-primary">التعليقات :</span></div>
								<div class="col-sm-10">
									<textarea name="" class="form-control" rows="3"></textarea>
								</div>
							</div>
							<!-- <div class="row">
								<div class="col-md-4 col-sm-12">
									<div class="row">
										<label class="col-md-4 col-sm-12 text-primary">رقم التكليف:</label>
										<div class="col-md-8 col-sm-12">
											<span>T8476465</span>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-12">
									<div class="row">
										<label class="col-md-4 col-sm-12 text-primary">التاريخ:</label>
										<div class="col-md-8 col-sm-12">
											<span>23/02/2020</span>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-12">
									<div class="row">
										<label class="col-md-4 col-sm-12 text-primary">البرنامج المرتبط وضعه:</label>
										<div class="col-md-8 col-sm-12">
											<span>جاري التحطيط</span>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<label class="col-md-3 col-sm-12 text-primary">اسم التكليف</label>
								<div class="col-md-8 col-sm-12"><span>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها</span></div>
							</div>

							<div class="row">
								<label class="col-md-3 col-sm-12 text-primary">منافع قابلة للقياس ولها مستهدف محدد</label>
								<div class="col-md-8 col-sm-12"><span>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها</span></div>
							</div>

							<div class="row">
								<label class="col-md-3 col-sm-12 text-primary">وصف المشروع مع القياس الاستراتيجي والمعالم الرئيسية</label>
								<div class="col-md-8 col-sm-12"><span>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها</span></div>
							</div>

							<div class="row">
								<label class="col-md-3 col-sm-12 text-primary">البدائل / الخيارات</label>
								<div class="col-md-8 col-sm-12"><span>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها</span></div>
							</div>

							<div class="row mtlg">
								<div class="col-md-6 col-sm-12">
									<div><h2 class="sec-title">اهداف الوزارة الاستراتيجية ذات الصلة</h2></div>
									<ul class="text-large mtmd">
										<li>تطوير التوجه الاستراتيجي لاولويات التنمية الوطنية</li>
										<li>تطوير ومواءمة السياسات الاقتصادية</li>
										<li>تمكين عملية اتخاذ القرار من خلال التحليل المبني علي البراهين</li>
									</ul>
								</div>
								<div class="col-md-6 col-sm-12">
									<div><h2 class="sec-title">المنافع / الاثر</h2></div>
									<div class="row mtmd">
										<div class="col-md-6 col-sm-12">
											<h5>المنافع المباشرة</h5>
											<ul class="text-large mtsm">
												<li>إيرادات</li>
												<li>رفع كفاءة الانفاق</li>
											</ul>
										</div>
										<div class="col-md-6 col-sm-12">
											<h5>المنافع غير المباشرة</h5>
											<ul class="text-large mtsm">
												<li>منفعة اجتماعية</li>
												<li>تمكين اتخاذ القرار</li>
											</ul>
										</div>
									</div>
								</div>
							</div> -->
						</div>
					</div>

					<div class="mtmd ptmd bt">
						<div class="title-wrapper prsm plsm">
							<h2 class="sec-title"><small><i class="fas fa-circle"></i></small>&nbsp; الاساس المنطقي / التبرير</h2>
						</div>
						
						<div class="rows-even-odd mtmd">
							<div class="row">
								<div class="col-sm-2"><span class="text-primary">التعليقات :</span></div>
								<div class="col-sm-10">
									<textarea name="" class="form-control" rows="3"></textarea>
								</div>
							</div>
							<!-- <div class="row">
								<label class="col-md-3 col-sm-12 text-primary">منافع قابلة للقياس ولها مستهدف محدد</label>
								<div class="col-md-8 col-sm-12"><span>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها</span></div>
							</div>

							<div class="row">
								<label class="col-md-3 col-sm-12 text-primary">وصف المشروع مع القياس الاستراتيجي والمعالم الرئيسية</label>
								<div class="col-md-8 col-sm-12"><span>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها</span></div>
							</div>

							<div class="row">
								<label class="col-md-3 col-sm-12 text-primary">البدائل / الخيارات</label>
								<div class="col-md-8 col-sm-12"><span>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها</span></div>
							</div> -->
						</div>
					</div>

					<div class="mtmd ptmd bt">
						<div class="title-wrapper prsm plsm">
							<h2 class="sec-title"><small><i class="fas fa-circle"></i></small>&nbsp; المخرجات</h2>
						</div>
						
						<div class="rows-even-odd mtmd">
							<div class="row">
								<div class="col-sm-2"><span class="text-primary">التعليقات :</span></div>
								<div class="col-sm-10">
									<textarea name="" class="form-control" rows="3"></textarea>
								</div>
							</div>
						</div>
					</div>

					<div class="mtmd ptmd bt">
						<div class="title-wrapper prsm plsm">
							<h2 class="sec-title"><small><i class="fas fa-circle"></i></small>&nbsp; المعالم</h2>
						</div>
						
						<div class="rows-even-odd mtmd">
							<div class="row">
								<div class="col-sm-2"><span class="text-primary">التعليقات :</span></div>
								<div class="col-sm-10">
									<textarea name="" class="form-control" rows="3"></textarea>
								</div>
							</div>
						</div>
					</div>

					<div class="mtmd ptmd bt">
						<div class="title-wrapper prsm plsm">
							<h2 class="sec-title"><small><i class="fas fa-circle"></i></small>&nbsp; المتطلبات</h2>
						</div>

						<div class="rows-even-odd mtmd">
							<div class="row">
								<div class="col-sm-2"><span class="text-primary">التعليقات :</span></div>
								<div class="col-sm-10">
									<textarea name="" class="form-control" rows="3"></textarea>
								</div>
							</div>
						</div>
						
						<!-- <div class="mtlg">
							<div><h2 class="sec-title">اهداف الوزارة ذات الاستراتيجية</h2></div>

							<div class="flex mtmd justify-between">
								<div>
									<div><i class="fas fa-circle"></i>&nbsp; موارد بشرية</div>
								  	<div class="mtsm">
								  		<span class="text-primary">التكلفة التقريبية: </span> <span>1000 ريال</span>
								  	</div>
								</div>
								<div>
									<div><i class="fas fa-circle"></i>&nbsp; استشارات</div>
								  	<div class="mtsm">
								  		<span class="text-primary">التكلفة التقريبية: </span> <span>1000 ريال</span>
								  	</div>
								</div>
								<div>
									<div><i class="fas fa-circle"></i>&nbsp; شراء الدراسات / التقارير</div>
								  	<div class="mtsm">
								  		<span class="text-primary">التكلفة التقريبية: </span> <span>1000 ريال</span>
								  	</div>
								</div>
								<div>
									<div><i class="fas fa-circle"></i>&nbsp; برنامج تقنية المعلومات</div>
								  	<div class="mtsm">
								  		<span class="text-primary">التكلفة التقريبية: </span> <span>1000 ريال</span>
								  	</div>
								</div>
								<div>
									<div><i class="fas fa-circle"></i>&nbsp; استشارات</div>
								  	<div class="mtsm">
								  		<span class="text-primary">التكلفة التقريبية: </span> <span>1000 ريال</span>
								  	</div>
								</div>
							</div>

							<div class="mtxlg ptmd text-center">
								<h5><span class="text-primary">إجمالي التكلفة:</span> <span class="text-gray">5000 ريال</span></h5>
							</div>
						</div>

						<div class="mtlg ptlg bt">
							<div><h2 class="sec-title">نوع الموارد البشرية</h2></div>
							<div class="flex mtmd justify-between">
								<div>
									<div><i class="fas fa-circle"></i>&nbsp; الراعي / الادارة التنفيذية</div>
								  	<div class="mtsm">
								  		<span class="text-primary">المدة: </span> <span>10 ايام</span>
								  	</div>
								  	<div class="mtsm">
								  		<span class="text-primary">الدوام: </span> <span>جزئي</span>
								  	</div>
								  	<div class="mtsm">
								  		<span class="text-primary">نسبة الدوام الجزئي: </span> <span>40%</span>
								  	</div>
								</div>
								<div>
									<div><i class="fas fa-circle"></i>&nbsp; وكيل / مدير</div>
								  	<div class="mtsm">
								  		<span class="text-primary">المدة: </span> <span>10 ايام</span>
								  	</div>
								  	<div class="mtsm">
								  		<span class="text-primary">الدوام: </span> <span>جزئي</span>
								  	</div>
								  	<div class="mtsm">
								  		<span class="text-primary">نسبة الدوام الجزئي: </span> <span>40%</span>
								  	</div>
								</div>
								<div>
									<div><i class="fas fa-circle"></i>&nbsp; مدير مشروع</div>
								  	<div class="mtsm">
								  		<span class="text-primary">المدة: </span> <span>10 ايام</span>
								  	</div>
								  	<div class="mtsm">
								  		<span class="text-primary">الدوام: </span> <span>جزئي</span>
								  	</div>
								  	<div class="mtsm">
								  		<span class="text-primary">نسبة الدوام الجزئي: </span> <span>40%</span>
								  	</div>
								</div>
								<div>
									<div><i class="fas fa-circle"></i>&nbsp; حامل مشعل المشروع</div>
								  	<div class="mtsm">
								  		<span class="text-primary">المدة: </span> <span>10 ايام</span>
								  	</div>
								  	<div class="mtsm">
								  		<span class="text-primary">الدوام: </span> <span>جزئي</span>
								  	</div>
								  	<div class="mtsm">
								  		<span class="text-primary">نسبة الدوام الجزئي: </span> <span>40%</span>
								  	</div>
								</div>
								<div>
									<div><i class="fas fa-circle"></i>&nbsp; خبراء في نفس المجال</div>
								  	<div class="mtsm">
								  		<span class="text-primary">المدة: </span> <span>10 ايام</span>
								  	</div>
								  	<div class="mtsm">
								  		<span class="text-primary">الدوام: </span> <span>جزئي</span>
								  	</div>
								  	<div class="mtsm">
								  		<span class="text-primary">نسبة الدوام الجزئي: </span> <span>40%</span>
								  	</div>
								</div>
								<div>
									<div><i class="fas fa-circle"></i>&nbsp; اخري</div>
								  	<div class="mtsm">
								  		<span class="text-primary">المدة: </span> <span>10 ايام</span>
								  	</div>
								  	<div class="mtsm">
								  		<span class="text-primary">الدوام: </span> <span>جزئي</span>
								  	</div>
								  	<div class="mtsm">
								  		<span class="text-primary">نسبة الدوام الجزئي: </span> <span>40%</span>
								  	</div>
								</div>
							</div>

							<div class="rows-even-odd mtxlg">
								<div class="row">
									<label class="col-md-3 col-sm-12 text-primary">حكومة المبادرة</label>
									<div class="col-md-8 col-sm-12"><span>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها</span></div>
								</div>

								<div class="row">
									<label class="col-md-3 col-sm-12 text-primary">موجز الاستشارات الاضافية / نطاق المشتريات الاخري</label>
									<div class="col-md-8 col-sm-12"><span>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها</span></div>
								</div>

								<div class="row">
									<label class="col-md-3 col-sm-12 text-primary">اصحاب المصلحة</label>
									<div class="col-md-8 col-sm-12"><span>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها</span></div>
								</div>

								<div class="row">
									<label class="col-md-3 col-sm-12 text-primary">نوع المشاركة</label>
									<div class="col-md-8 col-sm-12"><span>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها</span></div>
								</div>
							</div>
						</div> -->
					</div>

					<div class="mtxlg text-left">
						<button type="button" class="btn btn-primary btn-wide">موافقة</button>
						<button type="button" class="btn btn-danger btn-wide">إعادة إلي حامل المشعل</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>