<section class="section mbmd mtmd pos-rel b_all ptlg pblg prlg pllg common-shadow">
	<div style="display: flex; justify-content: space-between;">
		<button class="btn btn-link pull-left close_section"><i class="fas fa-times"></i></button>
	</div>


	<div class="accordion">
		<div class="card">
			<div class="card-header" id="head30">
				<h2>
					<button type="button" class="" data-toggle="collapse" data-target="#col30" aria-expanded="true" aria-controls="col30"></button>
					<span style="color:#004C45;">إجراء يتطلب تفاعلك (مراجعة ميثاق المشروع والافادة إما بالموافقة أو الرفض)</span>
				</h2>
			</div>

			<div id="col30" class="collapse show" aria-labelledby="head30">
				<div class="card-body">
					
					<ul class="nav nav-pills nav-steps">
						<li class="nav-item">
							<a class="nav-link active" id="#stepTab1" data-toggle="tab" href="#stepTab1" role="tab"> خارطة الطريق</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="#stepTab2" data-toggle="tab" href="#stepTab2" role="tab">أصحاب العلاقات الرئيسيين</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="#stepTab3" data-toggle="tab" href="#stepTab3" role="tab">الموارد المطلوبة</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="#stepTab4" data-toggle="tab" href="#stepTab4" role="tab">أفتراضات المشروع الاعتمادية، القيود، النخاطر والمشاكل</a>
						</li>
					</ul>

					<div class="tab-content mtmd" id="step-content">
						<div class="tab-pane fade show active" id="stepTab1" role="tabpanel" aria-labelledby="stepTab1">
							
							<table class="table table-striped table-borderless table-hover">
								<thead>
									<tr>
										<th>المرحلة</th>
										<th>تاريخ البداية</th>
										<th>تاريخ النهاية</th>
										<th>تعديل</th>
										<th>حذف</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>البدأ</td>
										<td></td>
										<td></td>
										<td><a href="#">تعديل</a></td>
										<td></td>
									</tr>
									<tr>
										<td>التنفيذ</td>
										<td></td>
										<td></td>
										<td><a href="#">تعديل</a></td>
										<td></td>
									</tr>
									<tr>
										<td>اللنتهاء</td>
										<td></td>
										<td></td>
										<td><a href="#">تعديل</a></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="tab-pane fade" id="stepTab2" role="tabpanel" aria-labelledby="stepTab2">
							
							<table class="table table-striped table-borderless table-hover">
								<thead>
									<tr>
										<th>اسم صاحب العلاقة</th>
										<th>الجهة</th>
										<th>الدور علي المشروع</th>
										<th>التوقعات</th>
										<th>الاجراءات</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="5"><div class="text-center">ليس هناك بيانات متاحة حاليا</div></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="tab-pane fade" id="stepTab3" role="tabpanel" aria-labelledby="stepTab3">

							<div>
								<h5 class="text-primary mbmd">موارد المشروع</h5>
								
								<table class="table table-striped table-borderless table-hover">
									<thead>
										<tr>
											<th>الاسم</th>
											<th>القسم</th>
											<th>الدور</th>
											<th>المرحلة</th>
											<th>توقع المدير المباشر</th>
											<th>الاجراءات</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td colspan="6"><div class="text-center">ليس هناك بيانات متاحة حاليا</div></td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="mtmd bt ptmd">
								<h5 class="text-primary mbmd">موارد أخرى</h5>
								
								<table class="table table-striped table-borderless table-hover">
									<thead>
										<tr>
											<th>الاسم</th>
											<th>الوصف</th>
											<th>المرحلة</th>
											<th>الاجراءات</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td colspan="4"><div class="text-center">ليس هناك بيانات متاحة حاليا</div></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="tab-pane fade" id="stepTab4" role="tabpanel" aria-labelledby="stepTab4">
							<div class="text-center">لا يوجد بيانات</div>
						</div>
					</div>

					<form class="mtmd ptmd bt">
						<h5 class="text-primary mbmd">ملاحظات علي الافادة</h5>

						<div class="row">
							<div class="col-md-2 col-sm-12">
								<span class="text-primary">ملاحظات</span>
							</div>
							<div class="col-md-8 col-sm-12">
								<textarea name="" placeholder="ملاحظات" class="form-control" rows="3"></textarea>
							</div>
						</div>

						<div class="row mtmd">
							<div class="col-md-2 col-sm-12">
								<span class="text-primary">&nbsp;</span>
							</div>
							<div class="col-md-8 col-sm-12">
								<button type="button" class="btn btn-primary btn-wide">ارسال إلي مدير المشروع</button>
								<button type="button" class="btn btn-primary btn-wide">ارسال إلي مالك العمل</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
		
</section>