<section class="section mbmd mtmd pos-rel b_all ptlg pblg prlg pllg common-shadow">
	<button class="btn btn-link pull-left close_section"><i class="fas fa-times"></i></button>

	<div class="accordion">
		<div class="card">
			<div class="card-header" id="head30">
				<h2>
					<button type="button" class="" data-toggle="collapse" data-target="#col30" aria-expanded="true" aria-controls="col30"></button>
					<span style="color:#004C45;">إجراء يتطلب تفاعلك (تعيّين مدير المشروع)</span>
				</h2>
			</div>

			<div id="col30" class="collapse show" aria-labelledby="head30">
				<div class="card-body">
					
					<div class="rows-even-odd">

						<div class="row mtmd">
							<div class="col-md-6 col-sm-12">
								<div class="row">
									<div class="col-md-3 col-sm-12"><span class="text-primary">رقم المشروع</span></div>
									<div class="col-md-8 col-sm-12">
										<span>83665</span>
									</div>
								</div>	
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="row">
									<div class="col-md-3 col-sm-12"><span class="text-primary">اسم الميثاق</span></div>
									<div class="col-md-8 col-sm-12">
										<span>ميثاق مشروع 1</span>
									</div>
								</div>
							</div>
						</div>

						<div class="row mtmd">
							<div class="col-md-6 col-sm-12">
								<div class="row">
									<div class="col-md-3 col-sm-12"><span class="text-primary">رقم دراسة الجدوي</span></div>
									<div class="col-md-8 col-sm-12">
										<span>654</span>
									</div>
								</div>	
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="row">
									<div class="col-md-3 col-sm-12"><span class="text-primary">تاريخ دراسة الجدوي</span></div>
									<div class="col-md-8 col-sm-12">
										<span>23-07-2021 34:26:01 AM</span>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-3 col-sm-12"><span class="text-primary">دراسة الجدوي</span></div>
							<div class="col-md-8 col-sm-12">
								<span>دراسة الجدوي 1</span>
							</div>
						</div>	

						<div class="row mtmd">
							<div class="col-md-6 col-sm-12">
								<div class="row">
									<div class="col-md-3 col-sm-12"><span class="text-primary">مالك العمل</span></div>
									<div class="col-md-8 col-sm-12">
										<span>مالك العمل 1</span>
									</div>
								</div>	
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="row">
									<div class="col-md-3 col-sm-12"><span class="text-primary">حامل المشعل</span></div>
									<div class="col-md-8 col-sm-12">
										<span>حامل المشعل 1</span>
									</div>
								</div>
							</div>
						</div>

						<div class="row mtmd">
							<div class="col-md-6 col-sm-12">
								<div class="row">
									<div class="col-md-3 col-sm-12"><span class="text-primary">المدة</span></div>
									<div class="col-md-8 col-sm-12">
										<span>100</span>
									</div>
								</div>	
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="row">
									<div class="col-md-3 col-sm-12"><span class="text-primary">المبلغ</span></div>
									<div class="col-md-8 col-sm-12">
										<span>84746</span>
									</div>
								</div>
							</div>
						</div>

						<div class="row mtmd mbmd">
							<div class="col-md-12 col-sm-12">
								لتحميل التسخة الضوئية للميثاق <a href="#"> اضط هنا</a>
							</div>
						</div>

						<div class="row">
							<div class="col-md-2 col-sm-12"><span class="text-primary">مدير المشروع</span></div>
							<div class="col-md-10 col-sm-12">
								<input type="text" class="form-control" placeholder="" value="مالك العمل 1"> 
							</div>
						</div>

						<div class="row mtmd">
							<div class="col-md-6 col-sm-12">
								<div class="row">
									<div class="col-md-4 col-sm-12"><span class="text-primary">تاريخ البداية هجري</span></div>
									<div class="col-md-7 col-sm-12">
										<div class="input-date">
											<input type="text" class="form-control" placeholder="" value="1442-066-23" disabled> 
										</div>
									</div>
								</div>	
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="row">
									<div class="col-md-4 col-sm-12"><span class="text-primary">تاريخ النهاية هجري</span></div>
									<div class="col-md-8 col-sm-12">
										<div class="input-date">
											<input type="text" class="form-control" placeholder="" value="1442-066-23" disabled> 
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="mtmd">
							<div class="text-left">
								<button type="button" class="btn btn-primary btn-wide">إرسال</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	
</section>