<section class="section mbmd mtmd pos-rel b_all ptlg pblg prlg pllg common-shadow">
	<div style="display: flex; justify-content: space-between;">
		<h2 class="title">&nbsp;</h2>
		<button class="btn btn-link pull-left close_section"><i class="fas fa-times"></i></button>
	</div>
	<div class="accordion">
		<div class="card">
			<div class="card-header" id="headTwelve">
				<h2>
					<button type="button" data-toggle="collapse" data-target="#colTwelve" aria-expanded="true" aria-controls="colTwelve"></button>
					<span style="color:#004C45;">إجراء يتطلب تفاعلك (إعداد وثيقة ميثاق المشروع)</span>
				</h2>
			</div>

			<div id="colTwelve" class="collapse show" aria-labelledby="headTwelve">
				<div class="card-body">

					
					<ul class="nav nav-pills nav-steps">
						<li class="nav-item">
							<a class="nav-link active" id="#stepTab1" data-toggle="tab" href="#stepTab1" role="tab">ملخص المشروع</a>
						</li> 
						<li class="nav-item">
							<a class="nav-link" id="#stepTab2" data-toggle="tab" href="#stepTab2" role="tab">مصادر المشروع</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="#stepTab3" data-toggle="tab" href="#stepTab3" role="tab">أهداف البرنامج/المشروع وتأثيره</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="#stepTab4" data-toggle="tab" href="#stepTab4" role="tab">الفوائد المرجو تحقيقها</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="#stepTab5" data-toggle="tab" href="#stepTab5" role="tab">نطاق العمل</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="#stepTab6" data-toggle="tab" href="#stepTab6" role="tab">المخرجات الرئيسية للمشروع</a>
						</li>
					</ul>

					<div class="tab-content mtmd" id="step-content">

						<div class="tab-pane fade show active" id="stepTab1" role="tabpanel" aria-labelledby="stepTab1">
							<form class="rows-even-odd mtmd">
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div class="row">
											<div class="col-md-3 col-sm-12"><span class="text-primary">رقم المشروع :</span></div>
											<div class="col-md-7 col-sm-12"><span>Jeih47</span></div>
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="row">
											<div class="col-md-3 col-sm-12"><span class="text-primary">اسم الميثاق :</span></div>
											<div class="col-md-7 col-sm-12"><span>ميثاق رقم ١</span></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div class="row">
											<div class="col-md-3 col-sm-12"><span class="text-primary">رقم دراسة الجدوي :</span></div>
											<div class="col-md-7 col-sm-12"><span>M09-He38y3</span></div>
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="row">
											<div class="col-md-3 col-sm-12"><span class="text-primary">تأثير دراسة الجدوي :</span></div>
											<div class="col-md-7 col-sm-12"><span>He38y3</span></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-3 col-sm-12"><span class="text-primary">دراسة الجدوي :</span></div>
									<div class="col-md-7 col-sm-12"><span>دراسة الجدوي 1</span></div>
								</div>

								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div class="row">
											<div class="col-md-3 col-sm-12"><span class="text-primary">مالك العمل :</span></div>
											<div class="col-md-7 col-sm-12"><span>مالك العمل ١</span></div>
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="row">
											<div class="col-md-3 col-sm-12"><span class="text-primary">حامل المشعل :</span></div>
											<div class="col-md-7 col-sm-12"><span>حامل المشعل ١</span></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div class="row">
											<div class="col-md-3 col-sm-12"><span class="text-primary">المدة:</span></div>
											<div class="col-md-7 col-sm-12">
												<input type="text" class="form-control" placeholder="" value="100">
											</div>
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="row">
											<div class="col-md-3 col-sm-12"><span class="text-primary">المبلغ :</span></div>
											<div class="col-md-7 col-sm-12">
												<input type="text" class="form-control" placeholder="" value="23863">
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div class="row">
											<div class="col-md-3 col-sm-12"><span class="text-primary">ارفاق الملف:</span></div>
											<div class="col-md-7 col-sm-12">
												<div id="ddewfewfefe">
													<div class="file file-link">
														<span class="filename">برجاء اختيار الملف</span>
														<span class="text-upper">pdf, doc, docx, rtf, jpg</span>
														<div class="fileinputWrap">
										    				<span class="btn btn-default fileinput-button">
										    					<i class="fas fa-upload"></i> 
										    					<span>اختار ملف</span>
										    					<input type="file" data-allowed=" jpg,pdf,doc,docx,rtf" name="files" multiple>
										    				</span>
											    		</div>
													</div>

													<div class="fileList row"></div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="mtmd">
									لتحميل النسخة الضوئية لميثاق المشروع <a href="#">اضط هنا</a>
								</div>

								<div class="mtmd text-left">
									<button type="submit" class="btn btn-primary btn-wide">التالي</button>
								</div>
							</form>
						</div>

						<div class="tab-pane fade" id="stepTab2" role="tabpanel" aria-labelledby="stepTab2">
							<form class="rows-even-odd mtmd">
								<div class="row">
									<div class="col-md-2 col-sm-12"><span class="text-primary">مصادر المشروع :</span></div>
									<div class="col-md-10 col-sm-12"><span>برنامج رقم ٢</span></div>
								</div>

								<div class="mtmd">
									<div class="mbsm"><span class="text-primary">الحاجة إلي المشروع :</span></div>
									<div>
										<input type="text" class="form-control" placeholder="هنا">
									</div>
								</div>

								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div>
											<div class="mbsm"><span class="text-primary">الاهداف الاستراتيجية لوزارة الاقتصاد والتخطيط :</span></div>
											<div class="select-wrapper">
												<select name="" class="form-control">
													<option>احتار</option>
													<option value="1">1</option>
													<option value="1">2</option>
													<option value="1">3</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div>
											<div class="mbsm"><span class="text-primary">مؤشرات الاداء الرئيسية :</span></div>
											<div class="select-wrapper">
												<select name="" class="form-control">
													<option>احتار</option>
													<option value="1">1</option>
													<option value="1">2</option>
													<option value="1">3</option>
												</select>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div>
											<div class="mbsm"><span class="text-primary">الاهداف التشيلية لوزارة الاقتصاد والتخطيط :</span></div>
											<div class="select-wrapper">
												<select name="" class="form-control">
													<option>احتار</option>
													<option value="1">1</option>
													<option value="1">2</option>
													<option value="1">3</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="mbsm"><span class="text-primary">مؤشرات الاداء التشيلية :</span></div>
										<div class="select-wrapper">
											<select name="" class="form-control">
												<option>احتار</option>
												<option value="1">1</option>
												<option value="1">2</option>
												<option value="1">3</option>
											</select>
										</div>
									</div>
								</div>

								<div class="mtmd text-left">
									<button type="submit" class="btn btn-primary btn-wide">السابق</button>
									<button type="submit" class="btn btn-primary btn-wide">التالي</button>
								</div>
							</form>
						</div>

						<div class="tab-pane fade" id="stepTab3" role="tabpanel" aria-labelledby="stepTab3">
							<form class="rows-even-odd mbmd mtmd pos-rel b_all ptlg pblg prlg pllg common-shadow">
								<div class="row">
									<div class="col-md-2 col-sm-12"><span class="text-primary">اهداف البرانج/المشروع :</span></div>
									<div class="col-md-7 col-sm-12">
										<textarea placeholder="اهداف" class="form-control" rows="3"></textarea>
									</div>
								</div>

								<div class="row">
									<div class="col-md-2 col-sm-12"><span class="text-primary">التأثير الكمي :</span></div>
									<div class="col-md-7 col-sm-12">
										<input type="text" class="form-control" placeholder="التأثير">
									</div>
								</div>

								<div class="row">
									<div class="col-md-2 col-sm-12"><span class="text-primary">&nbsp;</span></div>
									<div class="col-md-7 col-sm-12">
										<button type="submit" class="btn btn-primary btn-wide">حفظ</button>
									</div>
								</div>
							</form>

							<table class="table table-striped table-borderless table-hover">
								<thead>
									<tr>
										<th>اهداف البرامج/المشروع</th>
										<th>التأثير الكمي</th>
										<th>تعديل</th>
										<th>حذف</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="4">
											<div class="text-center">ليس ههناك بيانات ناحة حاليا</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="tab-pane fade" id="stepTab4" role="tabpanel" aria-labelledby="stepTab4">

							<form action="" class="rows-even-odd mbmd mtmd pos-rel b_all ptlg pblg prlg pllg common-shadow">
								<div class="row">
									<div class="col-md-2 col-sm-12"><span class="text-primary">المنافع/الاثر</span></div>
									<div class="col-md-7 col-sm-12">
										<div class="row ptmd pbmd bg-lightgray">
											<div class="col-md-6 col-sm-12">
												<h5 class="text-primary">منافع غير مباشرة</h5>
												<div class="mtmd">
													<ul class="checkboxes ch-grn">
														<li>
													    	<input class="styled-checkbox" id="pc_tabـ3_1_checkox_1" type="checkbox" value="value1" name="" checked="cheked">
													    	<label for="pc_tabـ3_1_checkox_1">منافع اجتماعية</label>
														</li>
														<li>
													    	<input class="styled-checkbox" id="pc_tabـ3_1_checkox_2" type="checkbox" value="value1" name="">
													    	<label for="pc_tabـ3_1_checkox_2">تمكين إتخاذ القرار</label>
														</li>
														<li>
													    	<input class="styled-checkbox" id="pc_tabـ3_1_checkox_3" type="checkbox" value="value1" name="" checked="cheked">
													    	<label for="pc_tabـ3_1_checkox_3">الشفافية / السمعة</label>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-md-6 col-sm-12">
												<h5 class="text-primary">منافع مباشرة</h5>
												<div class="mtmd">
													<ul class="checkboxes ch-grn">
														<li>
													    	<input class="styled-checkbox" id="pc_tabـ3_2_checkox_1" type="checkbox" value="value1" name="" checked="cheked">
													    	<label for="pc_tabـ3_2_checkox_1">الإيرادات</label>
														</li>
														<li>
													    	<input class="styled-checkbox" id="pc_tabـ3_2_checkox_2" type="checkbox" value="value1" name="" checked="checked">
													    	<label for="pc_tabـ3_2_checkox_2">رفع كفادة الإنفاق</label>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>	

								<div class="row">
									<div class="col-md-2 col-sm-12"><span class="text-primary">&nbsp;</span></div>
									<div class="col-md-7 col-sm-12">
										<button type="submit" class="btn btn-primary btn-wide">السابق</button>
										<button type="submit" class="btn btn-primary btn-wide">التالي</button>
									</div>
								</div>
							</form>

							<table class="table table-striped table-borderless table-hover">
								<thead>
									<tr>
										<th>المؤشر</th>
										<th>القيمة المستهدفة</th>
										<th>نوع القيمة</th>
										<th>القيمة المستهدفة المتبقية</th>
										<th>الفوائد الكمية المرجو تحقيقها</th>
										<th>المخرجات المتوقعة للمشروع</th>
										<th>&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>مؤشر الاداء التشغيلي ١</td>
										<td>12</td>
										<td>فئة</td>
										<td>73</td>
										<td></td>
										<td></td>
										<td><a href="#">تعديل</a></td>
									</tr>
									<tr>
										<td>مؤشر الاداء التشغيلي ٢</td>
										<td>وحدة</td>
										<td>فئة</td>
										<td>56</td>
										<td></td>
										<td></td>
										<td><a href="#">تعديل</a></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="tab-pane fade" id="stepTab5" role="tabpanel" aria-labelledby="stepTab5">
							<form action="" class="rows-even-odd mbmd mtmd pos-rel b_all ptlg pblg prlg pllg common-shadow">
								<div class="row">
									<div class="col-md-2 col-sm-12"><span class="text-primary">بيان نطاق العمل</span></div>
									<div class="col-md-9 col-sm-12">
										<textarea class="form-control" placeholder="نطاق العمل" rows="3"></textarea>
									</div>
								</div>

								<div class="row">
									<div class="col-md-2 col-sm-12"><span class="text-primary">&nbsp;</span></div>
									<div class="col-md-9 col-sm-12">
										<button type="submit" class="btn btn-primary btn-wide">حفظ</button>
									</div>
								</div>		
							</form>

							<form action="">
								<div class="row">
									<div class="col-md-2 col-sm-12"><span class="text-primary">داخل النطاق</span></div>
									<div class="col-md-9 col-sm-12">
										<textarea class="form-control" placeholder="داخل التطاق" rows="3"></textarea>
									</div>
								</div>

								<div class="row mtsm">
									<div class="col-md-2 col-sm-12"><span class="text-primary">&nbsp;</span></div>
									<div class="col-md-9 col-sm-12">
										<button type="submit" class="btn btn-primary btn-wide">اضف</button>
									</div>
								</div>	
							</form>

							<div class="mtlg">
								<div class="text-left mbsm">
									<button class="btn btn-primary-reverse btn-wide">إضافة داخل النطاق</button>
								</div>
								<table class="table table-striped table-borderless table-hover">
									<thead>
										<tr>
											<th>داخل النطاق</th>
											<th>تاريخ الانشاء</th>
											<th>انشئ بواسطة</th>
											<th>&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td colspan="4">
												<div class="text-center">ليس هناك بيانات متاحة حاليا</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="tab-pane fade" id="stepTab6" role="tabpanel" aria-labelledby="stepTab6">
							<form action="" class="rows-even-odd mbmd mtmd pos-rel b_all ptlg pblg prlg pllg common-shadow">
								<div class="row">
									<div class="col-md-2 col-sm-12"><span class="text-primary">الاسم</span></div>
									<div class="col-md-9 col-sm-12">
										<input type="text" class="form-control" placeholder="الاسم">
									</div>
								</div>

								<div class="row">
									<div class="col-md-2 col-sm-12"><span class="text-primary">الوصف</span></div>
									<div class="col-md-9 col-sm-12">
										<textarea class="form-control" placeholder="الوصف" rows="3"></textarea>
									</div>
								</div>

								<div class="row">
									<div class="col-md-2 col-sm-12"><span class="text-primary">معايّير القبول</span></div>
									<div class="col-md-9 col-sm-12">
										<textarea class="form-control" placeholder="معايّير القبول" rows="3"></textarea>
									</div>
								</div>

								<div class="row">
									<div class="col-md-2 col-sm-12"><span class="text-primary">&nbsp;</span></div>
									<div class="col-md-9 col-sm-12">
										<button type="submit" class="btn btn-primary btn-wide">حفظ</button>
									</div>
								</div>		
							</form>

							<table class="table table-striped table-borderless table-hover">
								<thead>
									<tr>
										<th>الاسم</th>
										<th>الوصف</th>
										<th>معايّير القبول</th>
										<th>تاريخ الانشاء</th>
										<th>انشئ بواسطة</th>
										<th>الاجراءات</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="6">
											<div class="text-center">ليس هناك بيانات متاحة حاليا</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</section>