<section class="section mbmd mtmd pos-rel b_all ptlg pblg prlg pllg common-shadow">
	<button class="btn btn-link pull-left close_section"><i class="fas fa-times"></i></button>

	<div class="accordion">
		<div class="card">
			<div class="card-header" id="head30">
				<h2>
					<button type="button" class="" data-toggle="collapse" data-target="#col30" aria-expanded="true" aria-controls="col30"></button>
					<span style="color:#004C45;">إجراء يتطلب تفاعلك (الاطلاع علي الخطاب وتحديث حالة التكليف)</span>
				</h2>
			</div>

			<div id="col30" class="collapse show" aria-labelledby="head30">
				<div class="card-body">

					<div class="rows-even-odd">
						<div class="row mtmd">
							<label for="" class="col-sm-12 text-primary">مسودة الخطاب</label>
							<div class="col-md-9 col-sm-12">
								<a href="#" class="file file-download">
									<span>ملف التقرير.docx</span>
									<span>حجم الملف: 263kb</span>
								</a>
							</div>
						</div>

						<div class="row mtmd">
							<label for="" class="col-sm-12 text-primary">مستندات اخري</label>
							<div class="col-md-9 col-sm-12">
								<a href="#" class="file file-download">
									<span>ملف التقرير.docx</span>
									<span>حجم الملف: 263kb</span>
								</a>
							</div>
						</div>

						<div class="row mtmd">
							<label for="" class="col-sm-12 text-primary">الملاحظات</label>
							<div class="col-md-9 col-sm-12">
								<textarea name="" class="form-control" rows="2"></textarea>
							</div>
						</div>
					</div>
					

					<div class="row mtmd">
						<div class="col-md-8 col-sm-12">
							<button type="button" class="btn btn-primary btn-wide">إعادة إرسال إلي مالك العمل</button>
							<button type="button" class="btn btn-primary btn-wide">إرسال إلي الادارة القانونية</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	
</section>