<section class="section mbmd mtmd pos-rel b_all ptlg pblg prlg pllg common-shadow">
	<button class="btn btn-link pull-left close_section"><i class="fas fa-times"></i></button>

	<div class="accordion">
		<div class="card">
			<div class="card-header" id="head30">
				<h2>
					<button type="button" class="" data-toggle="collapse" data-target="#col30" aria-expanded="true" aria-controls="col30"></button>
					<span style="color:#004C45;">إجراء يتطلب تفاعلك (مراجعة مسودة الخطاب وكافة المستندات المرفقة)</span>
				</h2>
			</div>

			<div id="col30" class="collapse show" aria-labelledby="head30">
				<div class="card-body">
					
					<div class="rows-even-odd">
						<div class="row mtlg">
							<div class="col-md-3 col-sm-12">
								<a href="#">مسودة الخطاب</a>
							</div>
							<div class="col-md-3 col-sm-12">
								<a href="#">نموذخ الالاق .doc</a>
							</div>
						</div>

						<div class="row mtmd">
							<label for="" class="col-sm-12 text-primary">الملاحظات</label>
							<div class="col-md-9 col-sm-12">
								<textarea name="" class="form-control" rows="2"></textarea>
							</div>
						</div>

						<div class="row mtmd">
							<div class="col-md-8 col-sm-12">
								<button type="button" class="btn btn-primary btn-wide">يحتاج إلي تركين</button>
								<button type="button" class="btn btn-primary btn-wide">تمت مراجعة التدقيق</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	
</section>