<section class="section mbmd mtmd pos-rel b_all ptlg pblg prlg pllg common-shadow">
	<button class="btn btn-link pull-left close_section"><i class="fas fa-times"></i></button>

	<div class="accordion">
		<div class="card">
			<div class="card-header" id="head30">
				<h2>
					<button type="button" class="" data-toggle="collapse" data-target="#col30" aria-expanded="true" aria-controls="col30"></button>
					<span style="color:#004C45;">إجراء يتطلب تفاعلك (عمل مسودة خطاب خارج النظام مع التأكد من التركين علي الخطاب)</span>
				</h2>
			</div>

			<div id="col30" class="collapse show" aria-labelledby="head30">
				<div class="card-body">

					<div class="rows-even-odd">

						<div class="row mtmd">
							<div class="col-md-3 col-sm-12">
								<span class="text-primary">الغرض من الخطاب</span>
							</div>
							<div class="col-md-8 col-sm-12">
								<span>إغلاق تكليف خارجي</span>
							</div>
						</div>

						<div class="row mtmd">
							<label for="" class="col-sm-12 text-primary">إرفاق مسودة الخطاب</label>
							<div class="col-md-9 col-sm-12">
								<div id="jndefbeubfe">
									<div class="file file-link">
										<span class="filename">برجاء اختيار الملف</span>
										<span class="text-upper">pdf, doc, docx, rtf, jpg</span>
										<div class="fileinputWrap">
						    				<span class="btn btn-default fileinput-button">
						    					<i class="fas fa-upload"></i> 
						    					<span>اختار ملف</span>
						    					<input type="file" data-allowed=" jpg,pdf,doc,docx,rtf" name="files" multiple>
						    				</span>
							    		</div>
									</div>

									<div class="fileList row"></div>
								</div>
							</div>
						</div>

						<div class="row mtmd">
							<label for="" class="col-sm-12 text-primary">إفاق مستندات اخري</label>
							<div class="col-md-9 col-sm-12">
								<div id="ldmkfnufe">
									<div class="file file-link">
										<span class="filename">برجاء اختيار الملف</span>
										<span class="text-upper">pdf, doc, docx, rtf, jpg</span>
										<div class="fileinputWrap">
						    				<span class="btn btn-default fileinput-button">
						    					<i class="fas fa-upload"></i> 
						    					<span>اختار ملف</span>
						    					<input type="file" data-allowed=" jpg,pdf,doc,docx,rtf" name="files" multiple>
						    				</span>
							    		</div>
									</div>

									<div class="fileList row"></div>
								</div>
							</div>
						</div>

					</div>
					

					<div class="row mtmd">
						<div class="col-md-8 col-sm-12">
							<button type="button" class="btn btn-primary btn-wide">إرسال إلي إدارة التدقيق والنسخ</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	
</section>