<section class="section mbmd mtmd pos-rel b_all ptlg pblg prlg pllg common-shadow">
	<div style="display: flex; justify-content: space-between;">
		<h2 class="title">تعيّين حامل المشعل</h2>
		<button class="btn btn-link pull-left close_section"><i class="fas fa-times"></i></button>
	</div>

	<form action="" class="mtmd">
		<div class="rows-even-odd">
			<div class="row mtsm">
				<div class="col-sm-2">
					<label class="col-form-label">حامل المشعل :</label>
				</div>
				<div class="col-md-7 col-sm-10">
					<input type="text" class="form-control" name="" placeholder="حامل المشعل">
				</div>
			</div>

			<div class="row mtsm">
				<div class="col-sm-2">
					<label class="col-form-label">مستشار مالك العمل :</label>
				</div>
				<div class="col-md-7 col-sm-10">
					<input type="text" class="form-control" name="" placeholder="مستشار مالك العمل">
				</div>
			</div>

			<div class="row mtmd">
		  		<label class="col-sm-2 col-form-label">&nbsp;</label>
		  		<div class="col-md-7 col-sm-10">
			  		<button type="submit" class="btn btn-wide btn-primary">إرسال إلي حامل المشعل</button>
		  		</div>
		  	</div>
	  	</div>
	</form>
</section>